<!DOCTYPE html>
<html>

<head>
	<title>Tourist Website</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!-----Navigationbar--->
	<section id="nav-bar">
		<nav class="navbar navbar-expand-lg navbar-light ">
			<a class="navbar-brand" href="#"><img
					src="https://th.bing.com/th/id/OIP.xZ6A23xl3nzQ_8tKMn46uwHaHa?pid=Api&rs=1"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item">
						<a class="nav-link" href="/destinations">DESTINATIONS</a>
					</li>
				</ul>
			</div>
		</nav>
	</section>
	<!-------------Slider------->
	<div id="slider">
		<div id="headerSlider" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#headerSlider" data-slide-to="0" class="active"></li>
				<li data-target="#headerSlider" data-slide-to="1"></li>
				<li data-target="#headerSlider" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="https://images.pexels.com/photos/847393/pexels-photo-847393.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						class="d-block img-fluid">
					<div class="carousel-caption">
						<h5>Time To Be Inspired</h5>
					</div>
				</div>
				<div class="carousel-item">
					<img src="https://images.pexels.com/photos/4179480/pexels-photo-4179480.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						class="d-block img-fluid">
					<div class="carousel-caption">
						<h5>New Adventure</h5>
					</div>
				</div>
				<div class="carousel-item">
					<img src="https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						class="d-block img-fluid">
					<div class="carousel-caption">
						<h5>Travel</h5>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<!------About--->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h2>About Us</h2>
					<div class="about-content">
						Thank you for your continued support and the confidence that you have placed in us. As we build
						the foundation of success, we completely recognize the trust you place in us and with your
						continuous support, we assure to maintain our best-in-class service.
						We are greatly humbled and honoured to be receiving the President of India Category-I Award by
						Shri Pranab Mukherjee for Tour Operator, Rest of India and National Tourism Awards 2013-14
						Category-III for Outstanding Performance in Tourism Sector and Domestic Tour Operator - Jammu &
						Kashmir Region.
						For Kesari Family, you are the centre of everything we do. Thus with every tour, we ensure
						working tirelessly to meet and outstrip your expectation in an enjoyable and responsible way.
					</div>
					<button type="button" class="btn btn-primary">Read More>></button>
				</div>
				<div class="col-md-6">

				</div>
			</div>
		</div>
	</section>
	<!---------------Services------->
	<section id="services">
		<div class="container">
			<h1>Our Services</h1>
			<div class="row services">
				<div class="col-md-3 text-center">
					<div class="icon">
						<i class="fa fa-globe" aria-hidden="true"></i>

					</div>
					<h3>Web Development</h3>
					<p>Flight to Abu Simbel. On arrival visit the world famous Temples of Abu Simbel built in the middle
						of the desert by King Ramses II. Flight to Aswan. Arrive in Aswan, Visit Philae Temple, High Dam
						and Unfinished Obelisque </p>

				</div>
				<div class="col-md-3 text-center">
					<div class="icon">
						<i class="fa fa-plane"></i>
					</div>
					<h3>Web Development</h3>
					<p>Flight to Abu Simbel. On arrival visit the world famous Temples of Abu Simbel built in the middle
						of the desert by King Ramses II. Flight to Aswan. Arrive in Aswan, Visit Philae Temple, High Dam
						and Unfinished Obelisque </p>

				</div>
				<div class="col-md-3 text-center">
					<div class="icon">
						<i class="fa fa-suitcase"></i>
					</div>
					<h3>Web Development</h3>
					<p>Flight to Abu Simbel. On arrival visit the world famous Temples of Abu Simbel built in the middle
						of the desert by King Ramses II. Flight to Aswan. Arrive in Aswan, Visit Philae Temple, High Dam
						and Unfinished Obelisque </p>

				</div>
				<div class="col-md-3 text-center">
					<div class="icon">
						<i class="fa fa-desktop"></i>
					</div>
					<h3>Web Development</h3>
					<p>Flight to Abu Simbel. On arrival visit the world famous Temples of Abu Simbel built in the middle
						of the desert by King Ramses II. Flight to Aswan. Arrive in Aswan, Visit Philae Temple, High Dam
						and Unfinished Obelisque </p>

				</div>
			</div>
		</div>
	</section>
	<!----------Get in Touch----->
</body>

</html>